@import "../chameleon/styles.css";
@import "../chameleon-blue/styles.css";

.v-table-body {
    overflow: hidden !important;
}

.v-textfield.v-readonly {
    border: 1px solid #bcbdbe;
}

.v-textfield-error, .v-checkbox-error, .v-textarea-error, .v-richtextarea-error,
.v-select-error .v-select-option, .v-datefield-error .v-textfield {
    border-color: red !important;
    border-width: medium !important;
    background: none !important;
    border-image: none !important;
}

.v-form fieldset {
    border: thin #add8e6 solid;
}

.searchForm fieldset {
    border: thin #add8e6 solid;
}

.v-filterselect-error {
    border: medium red solid !important;
}

.v-table-cell-content, .v-table-header-cell {
    border-right: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

.v-tabsheet-tabitem {
    background-color: rgb(5, 134, 252) !important;
    color: rgb(247, 248, 249) !important;
}

.v-tabsheet-tabitem-selected .v-caption {
    text-shadow: none !important;
}

